body {
    font-family: sans-serif;
    width: 100%;
}

.menu {
    padding: 0%;
    background-color: #db0b0b;
    text-align:left
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
}

.menu a {
    background-color: #db0b0b;
    display: block;
    text-decoration: none;
    padding: 16px;
}

.menu a:hover {
    background-color: palegreen;
    color: white;
}

.menudocanto {
    padding: 0%;
    background-color: #db0b0b;
    text-align: right;
}