*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080p;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #000000;
    width: 100%;
}

.menu,.informações{
    width: 25%;
}

.menu{
    width: 50%;
}

.menu nav a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
}